*{
    margin: 0;
    padding: 0;
    background-color: cyan;
    

}
.logo{
    border: 1px solid white;
    border-radius: 50px;
    float: left;
    width: 13vw;
    margin-top: -12vh;
}
.vet{
    border: 3px solid black;
    margin-top: 13vh;
    margin-left: 55vh;
    height: 80vh;
    width: 70vh;
    text-align: center;
}
.one{
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 60vh;
    align-items: center;
   text-align: center;
}
.placeholder{
    color: black;
    align-items: center;
}
.two{
    border:1px solid black;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 60vh;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
.three{
    border: 1.5px solid black;
    background-color: white;
    border-radius: 10px;
    height: 38vh;
    width: 60vh;
    align-items: center;
    margin-top: 3vh;
}
.four{
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 30vh;
    margin-top: 2vh;
    align-items: center;
    transition: transform .4s;
}
.four:hover{
    transform: scale(1.2);
    background-color: transparent;
    background-color: white;
    color: black;
    transition: .4s;
}
